In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from Config import val_df, train_df, test_df
from statistics import mean

## Percentages

In [2]:
WholeData = test_df.append([val_df, train_df])

In [3]:
print("Number of images:",len(WholeData) )
Whole =WholeData.groupby("subject_id")
print("Number of unique patients:",len(Whole.count()) )

Number of images: 707626
Number of unique patients: 129819

In [4]:
WholeDataX =WholeData.groupby("Sex")
WholeDataX_df = WholeDataX.describe()
WholeDataX_df

        subject_id                                                            \
             count          mean           std      min      25%         50%
Sex
F         317516.0  8.407315e+06  7.736500e+06      1.0  24130.0  11080025.0
M         390109.0  7.479190e+06  7.766944e+06      1.0  20157.0     62926.0
Unknown        1.0  3.309300e+04           NaN  33093.0  33093.0     33093.0

                                No Finding            ... Consolidation       \
                75%         max      count      mean  ...           75%  max
Sex                                                   ...
F        15492782.0  19999987.0   317516.0  0.341932  ...           0.0  1.0
M        15019807.0  19999442.0   390109.0  0.296814  ...           0.0  1.0
Unknown     33093.0     33093.0        1.0  1.000000  ...           0.0  0.0

            Edema
            count      mean       std  min  25%  50%  75%  max
Sex
F        317516.0  0.126457  0.332364  0.0  0.0  0.0  0.0  1.0
M        390109.0  0.129310  0.335543  0.0  0.0  0.0  0.0  1.0
Unknown       1.0  0.000000       NaN  0.0  0.0  0.0  0.0  0.0

[3 rows x 72 columns]

In [5]:
print("Number of images:",len(WholeData) )
Whole =WholeData.groupby("subject_id")
print("Number of unique patients:",len(Whole.count()) )

Number of images: 707626
Number of unique patients: 129819

In [18]:
dfWhole_Sex = WholeDataX_df["subject_id"]['count']
total_CXP= dfWhole_Sex["F"]+dfWhole_Sex["M"]
Male_percent = 100*dfWhole_Sex["M"]/total_CXP
print("Male Percent:  ",Male_percent)

print("female Percent:  ",100*dfWhole_Sex["F"]/total_CXP)
print("#images",total_CXP)

Male Percent:   55.1293411058117
female Percent:   44.8706588941883
#images 707625.0

In [19]:
WholeData['Sex'].value_counts()

M          390109
F          317516
Unknown         1
Name: Sex, dtype: int64

In [6]:
WholeData_020 = WholeData[WholeData['Age'] =='0-20' ]
WholeData_020

,subject_id,Jointpath,Sex,Age,No Finding,Atelectasis,Cardiomegaly,Effusion,Pneumonia,Pneumothorax,Consolidation,Edema
1659,4773,/scratch/gobi2/projects/ml4h/datasets/CheXpert...,F,0-20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1660,4773,/scratch/gobi2/projects/ml4h/datasets/CheXpert...,F,0-20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1661,4773,/scratch/gobi2/projects/ml4h/datasets/CheXpert...,F,0-20,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1662,4773,/scratch/gobi2/projects/ml4h/datasets/CheXpert...,F,0-20,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1663,4773,/scratch/gobi2/projects/ml4h/datasets/CheXpert...,F,0-20,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1723,5034,/scratch/gobi2/projects/ml4h/datasets/CheXpert...,F,0-20,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1724,5034,/scratch/gobi2/projects/ml4h/datasets/CheXpert...,F,0-20,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2398,6589,/scratch/gobi2/projects/ml4h/datasets/CheXpert...,M,0-20,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2399,6589,/scratch/gobi2/projects/ml4h/datasets/CheXpert...,M,0-20,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2400,6589,/scratch/gobi2/projects/ml4h/datasets/CheXpert...,M,0-20,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
2401,6589,/scratch/gobi2/projects/ml4h/datasets/CheXpert...,M,0-20,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
2402,6589,/scratch/gobi2/projects/ml4h/datasets/CheXpert...,M,0-20,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
2671,7061,/scratch/gobi2/projects/ml4h/datasets/CheXpert...,F,0-20,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
2682,7061,/scratch/gobi2/projects/ml4h/datasets/CheXpert...,F,0-20,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
2683,7061,/scratch/gobi2/projects/ml4h/datasets/CheXpert...,F,0-20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2685,7061,/scratch/gobi2/projects/ml4h/datasets/CheXpert...,F,0-20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2687,7061,/scratch/gobi2/projects/ml4h/datasets/CheXpert...,F,0-20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2688,7061,/scratch/gobi2/projects/ml4h/datasets/CheXpert...,F,0-20,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2690,7061,/scratch/gobi2/projects/ml4h/datasets/CheXpert...,F,0-20,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2692,7061,/scratch/gobi2/projects/ml4h/datasets/CheXpert...,F,0-20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2694,7061,/scratch/gobi2/projects/ml4h/datasets/CheXpert...,F,0-20,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
2695,7061,/scratch/gobi2/projects/ml4h/datasets/CheXpert...,F,0-20,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
2697,7061,/scratch/gobi2/projects/ml4h/datasets/CheXpert...,F,0-20,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
2698,7061,/scratch/gobi2/projects/ml4h/datasets/CheXpert...,F,0-20,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2699,7061,/scratch/gobi2/projects/ml4h/datasets/CheXpert...,F,0-20,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2700,7061,/scratch/gobi2/projects/ml4h/datasets/CheXpert...,F,0-20,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2701,7061,/scratch/gobi2/projects/ml4h/datasets/CheXpert...,F,0-20,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2702,7061,/scratch/gobi2/projects/ml4h/datasets/CheXpert...,F,0-20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2703,7061,/scratch/gobi2/projects/ml4h/datasets/CheXpert...,F,0-20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2704,7061,/scratch/gobi2/projects/ml4h/datasets/CheXpert...,F,0-20,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
295629,19916414,/scratch/gobi2/projects/ml4h/projects/mimic_ac...,F,0-20,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
296337,19937489,/scratch/gobi2/projects/ml4h/projects/mimic_ac...,M,0-20,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
296338,19937489,/scratch/gobi2/projects/ml4h/projects/mimic_ac...,M,0-20,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
296399,19938499,/scratch/gobi2/projects/ml4h/projects/mimic_ac...,F,0-20,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
296400,19938499,/scratch/gobi2/projects/ml4h/projects/mimic_ac...,F,0-20,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
296401,19938499,/scratch/gobi2/projects/ml4h/projects/mimic_ac...,F,0-20,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
296510,19942800,/scratch/gobi2/projects/ml4h/projects/mimic_ac...,F,0-20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
296561,19944135,/scratch/gobi2/projects/ml4h/projects/mimic_ac...,F,0-20,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
296562,19944135,/scratch/gobi2/projects/ml4h/projects/mimic_ac...,F,0-20,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
296563,19944135,/scratch/gobi2/projects/ml4h/projects/mimic_ac...,F,0-20,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
296659,19948103,/scratch/gobi2/projects/ml4h/projects/mimic_ac...,M,0-20,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
297106,19965484,/scratch/gobi2/projects/ml4h/projects/mimic_ac...,M,0-20,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
297107,19965484,/scratch/gobi2/projects/ml4h/projects/mimic_ac...,M,0-20,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
297222,19967735,/scratch/gobi2/projects/ml4h/projects/mimic_ac...,M,0-20,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
297223,19967735,/scratch/gobi2/projects/ml4h/projects/mimic_ac...,M,0-20,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
297534,19980545,/scratch/gobi2/projects/ml4h/projects/mimic_ac...,F,0-20,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
297535,19980545,/scratch/gobi2/projects/ml4h/projects/mimic_ac...,F,0-20,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
297536,19980545,/scratch/gobi2/projects/ml4h/projects/mimic_ac...,F,0-20,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
297537,19980545,/scratch/gobi2/projects/ml4h/projects/mimic_ac...,F,0-20,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
297673,19987030,/scratch/gobi2/projects/ml4h/projects/mimic_ac...,M,0-20,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
297674,19987030,/scratch/gobi2/projects/ml4h/projects/mimic_ac...,M,0-20,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
297755,19991424,/scratch/gobi2/projects/ml4h/projects/mimic_ac...,M,0-20,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
297756,19991424,/scratch/gobi2/projects/ml4h/projects/mimic_ac...,M,0-20,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
297760,19991720,/scratch/gobi2/projects/ml4h/projects/mimic_ac...,F,0-20,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
297761,19991720,/scratch/gobi2/projects/ml4h/projects/mimic_ac...,F,0-20,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
297902,19995210,/scratch/gobi2/projects/ml4h/projects/mimic_ac...,M,0-20,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
297903,19995210,/scratch/gobi2/projects/ml4h/projects/mimic_ac...,M,0-20,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
298134,19999733,/scratch/gobi2/projects/ml4h/projects/mimic_ac...,F,0-20,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
298135,19999733,/scratch/gobi2/projects/ml4h/projects/mimic_ac...,F,0-20,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
298136,19999733,/scratch/gobi2/projects/ml4h/projects/mimic_ac...,F,0-20,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
WholeData_020= WholeData[WholeData['Age'] =='0-20' ]
WholeData_2040= WholeData[WholeData['Age'] =='20-40' ]
WholeData_4060= WholeData[WholeData['Age'] =='40-60' ]
WholeData_6080= WholeData[WholeData['Age'] =='60-80' ]
WholeData_80= WholeData[WholeData['Age'] =='80-' ]
totalAgeCXP=len(WholeData_020)+len(WholeData_2040)+len(WholeData_4060)+len(WholeData_6080)+len(WholeData_80)

In [8]:
print("'0-20' Percent:  ",100*len(WholeData_020)/totalAgeCXP)
print("'20-40' Percent:  ",100*len(WholeData_2040)/totalAgeCXP)
print("'40-60' Percent:  ",100*len(WholeData_4060)/totalAgeCXP)
print("'60-80' Percent:  ",100*len(WholeData_6080)/totalAgeCXP)
print("'80-' Percent:  ",100*len(WholeData_80)/totalAgeCXP)
2.395432209763242+18.533110541880834+36.29224697054516+33.89865250753476+8.880557770276

'0-20' Percent:   2.395432209763242
'20-40' Percent:   18.533110541880834
'40-60' Percent:   36.29224697054516
'60-80' Percent:   33.89865250753476
'80-' Percent:   8.880557770276

100.0

## AUC average and CI on 5 run

In [2]:
Eval5 = pd.read_csv("./results6/Eval5.csv")
Eval4= pd.read_csv("./results37/Eval4.csv")
Eval3 = pd.read_csv("./results47/Eval3.csv")
Eval2 = pd.read_csv("./results19/Eval2.csv")
Eval1 = pd.read_csv("./results57/Eval1.csv")

In [3]:
Evalall = Eval1[['label','auc']]

Evalall["auc2"]=Eval2['auc']
Evalall["auc3"]=Eval3['auc']
Evalall["auc4"]=Eval4['auc']
Evalall["auc5"]=Eval5['auc']
round(Evalall,3)

              label    auc   auc2   auc3   auc4   auc5
0       Atelectasis  0.810  0.808  0.807  0.807  0.808
1      Cardiomegaly  0.856  0.858  0.857  0.855  0.855
2     Consolidation  0.806  0.805  0.804  0.805  0.804
3             Edema  0.898  0.899  0.898  0.899  0.897
4        No Finding  0.891  0.890  0.890  0.890  0.890
5  Pleural Effusion  0.923  0.924  0.922  0.921  0.922
6         Pneumonia  0.785  0.784  0.783  0.784  0.784
7      Pneumothorax  0.906  0.903  0.906  0.904  0.901

In [4]:
round(Evalall.mean(axis=0),3)

auc     0.859
auc2    0.859
auc3    0.858
auc4    0.858
auc5    0.858
dtype: float64

In [5]:
print("ALL Mean of 14 aucs mean over 5 run:     ",round(Evalall.mean(axis=0).mean(),3))
print("ALL Confidence interval of 14 aucs mean over 5 run:   ",round(1.96 * Evalall.mean(axis=0).std()/np.sqrt(5) ,3 ) )

ALL Mean of 14 aucs mean over 5 run:      0.859
ALL Confidence interval of 14 aucs mean over 5 run:    0.001

In [6]:
print("ALL Mean of auce per disease over 5 run:     ")
round(Evalall.mean(axis=1),3)

ALL Mean of auce per disease over 5 run:

0    0.808
1    0.856
2    0.805
3    0.898
4    0.890
5    0.922
6    0.784
7    0.904
dtype: float64

In [7]:
print("ALLData Confidence interval of auce per disease over 5 run:     ")
round(1.96 * Evalall.std(axis=1)/ np.sqrt(5),3)

ALLData Confidence interval of auce per disease over 5 run:

0    0.001
1    0.001
2    0.001
3    0.001
4    0.000
5    0.001
6    0.001
7    0.002
dtype: float64

## Subgroup-specific underdiagnosis rate

### Age

In [29]:
FP5_age = pd.read_csv("./results6/FP5_age.csv")
FP4_age= pd.read_csv("./results37/FP4_age.csv")
FP3_age = pd.read_csv("./results47/FP3_age.csv")
FP2_age = pd.read_csv("./results19/FP2_age.csv")
FP1_age = pd.read_csv("./results57/FP1_age.csv")
FP_age = FP1_age.append([FP2_age, FP3_age,FP4_age, FP5_age])
F_age_df = FP_age.describe()

In [30]:
print("FPR distribiution in ages")
print(round(F_age_df.loc['mean'],3))

FPR distribiution in ages
Unnamed: 0    0.000
40-60         0.218
60-80         0.117
20-40         0.305
80-           0.051
0-20          0.337
Name: mean, dtype: float64

In [31]:
round(1.96 * F_age_df.loc['std'] / np.sqrt(5),3)

Unnamed: 0    0.000
40-60         0.010
60-80         0.008
20-40         0.006
80-           0.005
0-20          0.008
Name: std, dtype: float64

In [32]:
print("all: Mean FPR distribiution over ages")
mean([F_age_df.loc['mean']["60-80"], F_age_df.loc['mean']["40-60"],
       F_age_df.loc['mean']["20-40"], F_age_df.loc['mean']["0-20"],
       F_age_df.loc['mean']["80-"]])

MIMIC: Mean FPR distribiution over ages

0.20574076094457505

### Sex

In [3]:
FP5_sex = pd.read_csv("./results6/FP5_sex.csv")
FP4_sex= pd.read_csv("./results37/FP4_sex.csv")
FP3_sex = pd.read_csv("./results47/FP3_sex.csv")
FP2_sex = pd.read_csv("./results19/FP2_sex.csv")
FP1_sex = pd.read_csv("./results57/FP1_sex.csv")
FP_sex = FP1_sex.append([FP2_sex, FP3_sex,FP4_sex, FP5_sex])
F_sex_df = FP_sex.describe()

In [4]:
print("FPR distribiution in sexes")
print(round(F_sex_df.loc['mean'],3))

FPR distribiution in sexes
Unnamed: 0    0.000
M             0.158
F             0.188
Name: mean, dtype: float64

In [5]:
print("FPR distribiution in sexes Confidence interval")
round(1.96 * F_sex_df.loc['std'] / np.sqrt(5),3)

FPR distribiution in sexes Confidence interval

Unnamed: 0    0.000
M             0.007
F             0.009
Name: std, dtype: float64

In [6]:
print("ALLData: Mean FPR distribiution over sexes")
mean([F_sex_df.loc['mean']["F"], F_sex_df.loc['mean']["M"]])

ALLData: Mean FPR distribiution over sexes

0.17310620194471676

In [9]:
Sex = ['M','F' ]
FPR_FNR_sex_df = pd.DataFrame(Sex, columns=["sex"])

def FiveRunSubgroup(factors, df_in, df_out):
    FPR = []
    FNR = []
    Percent = []
    CI_FPR =[]
    CI_FNR =[]
    ConfI = 1.96 * df_in.loc['std'] / np.sqrt(5)
    
    for fact in factors:
        FPR.append(round(df_in.loc['mean'][fact],3))
        CI_FPR.append(round(ConfI.loc[fact],3))
      #  Percent.append(round(df_in.loc['mean']['#'+fact],3))
       # FPR.append(round(df_in.loc['mean']['FPR_'+fact],3))
       # FNR.append(round(df_in.loc['mean']['FNR_'+fact],3))
#         CI_FPR.append(round(ConfI.loc['FPR_'+fact],3))
       # CI_FNR.append(round(ConfI.loc['FNR_'+fact],3))     
        
  #  df_out['#'] = Percent    
    df_out['FPR']=FPR 
    df_out['CI_FPR']=CI_FPR  

    #df_out['FNR']=FNR 
   # df_out['CI_FNR']=CI_FNR

    return df_out

FPR_FNR_sex_df=FiveRunSubgroup(Sex, F_sex_df, FPR_FNR_sex_df)
FPR_FNR_sex_df.to_csv('./results/Subgroun_FNR_FPR_Sex.csv')
FPR_FNR_sex_df

  sex    FPR  CI_FPR
0   M  0.158   0.007
1   F  0.188   0.009

### Subgroup-specific underdiagnosis rate FPR, FNR, Number of Patients

In [7]:
FP5_sex = pd.read_csv("./results6/FPR5_FNR_NF_sex.csv")
FP4_sex= pd.read_csv("./results37/FPR4_FNR_NF_sex.csv")
FP3_sex = pd.read_csv("./results47/FPR3_FNR_NF_sex.csv")
FP2_sex = pd.read_csv("./results19/FPR2_FNR_NF_sex.csv")
FP1_sex = pd.read_csv("./results57/FPR1_FNR_NF_sex.csv")
FP_sex = FP1_sex.append([FP2_sex, FP3_sex,FP4_sex, FP5_sex])
F_sex_df = FP_sex.describe()

In [8]:
Sex = ['M','F' ]
FPR_FNR_sex_df = pd.DataFrame(Sex, columns=["sex"])

def FiveRunSubgroup(factors, df_in, df_out):
    FPR = []
    FNR = []
    Percent = []
    CI_FPR =[]
    CI_FNR =[]
    ConfI = 1.96 * df_in.loc['std'] / np.sqrt(5)
    
    for fact in factors:
        Percent.append(round(df_in.loc['mean']['#'+fact],3))
        FPR.append(round(df_in.loc['mean']['FPR_'+fact],3))
        FNR.append(round(df_in.loc['mean']['FNR_'+fact],3))
        CI_FPR.append(round(ConfI.loc['FPR_'+fact],3))
        CI_FNR.append(round(ConfI.loc['FNR_'+fact],3))     
        
    df_out['#'] = Percent    
    df_out['FPR']=FPR 
    df_out['CI_FPR']=CI_FPR  

    df_out['FNR']=FNR 
    df_out['CI_FNR']=CI_FNR

    return df_out

FPR_FNR_sex_df=FiveRunSubgroup(Sex, F_sex_df, FPR_FNR_sex_df)
FPR_FNR_sex_df.to_csv('./results/Subgroun_FNR_FPR_Sex.csv')
FPR_FNR_sex_df

  sex        #    FPR  CI_FPR    FNR  CI_FNR
0   M  25495.0  0.158   0.007  0.228   0.009
1   F  19881.0  0.188   0.009  0.182   0.012

In [9]:
FP5_age = pd.read_csv("./results6/FPR5_FNR_NF_age.csv")
FP4_age= pd.read_csv("./results37/FPR4_FNR_NF_age.csv")
FP3_age = pd.read_csv("./results47/FPR3_FNR_NF_age.csv")
FP2_age = pd.read_csv("./results19/FPR2_FNR_NF_age.csv")
FP1_age = pd.read_csv("./results57/FPR1_FNR_NF_age.csv")
FP_age = FP1_age.append([FP2_age, FP3_age,FP4_age, FP5_age])
F_age_df = FP_age.describe()

In [10]:
Age = ['0-20','20-40','40-60','60-80','80-' ]
FPR_FNR_Age_df = pd.DataFrame(Age, columns=["Age"])

FPR_FNR_Age_df=FiveRunSubgroup(Age, F_age_df, FPR_FNR_Age_df)
FPR_FNR_Age_df.to_csv('./results/Subgroun_FNR_FPR_Age.csv')
FPR_FNR_Age_df

     Age        #    FPR  CI_FPR    FNR  CI_FNR
0   0-20    575.0  0.337   0.008  0.062   0.005
1  20-40   6004.0  0.305   0.006  0.090   0.006
2  40-60  15474.0  0.218   0.010  0.193   0.010
3  60-80  17735.0  0.118   0.008  0.350   0.016
4    80-   5582.0  0.051   0.005  0.506   0.028

## Intersectional identity

In [13]:
FP5_agesex = pd.read_csv("./results6/FP5_AgeSex.csv")
FP4_agesex= pd.read_csv("./results37/FP4_AgeSex.csv")
FP3_agesex = pd.read_csv("./results47/FP3_AgeSex.csv")
FP2_agesex = pd.read_csv("./results19/FP2_AgeSex.csv")
FP1_agesex = pd.read_csv("./results57/FP1_AgeSex.csv")
FP_agesex = FP1_agesex.append([FP2_agesex, FP3_agesex,FP4_agesex, FP5_agesex])
FP_AgeSex =FP_agesex.groupby("SexAge")

In [14]:
FP_AgSx_df = FP_AgeSex.describe()

In [43]:
print("Age-Sex over male")
round(FP_AgSx_df['M']['mean'],3)

Age-Sex over male

SexAge
0-20     0.307
20-40    0.257
40-60    0.204
60-80    0.109
80-      0.042
Name: mean, dtype: float64

In [49]:
print("mean: ", round(FP_AgSx_df['M']['mean'],3).mean() )

mean:  0.18380000000000002

In [45]:
round(1.96 * FP_AgSx_df['M']["std"] / np.sqrt(5),3)

SexAge
0-20     0.011
20-40    0.008
40-60    0.009
60-80    0.008
80-      0.004
Name: std, dtype: float64

In [46]:
round(FP_AgSx_df['F']['mean'],3)

SexAge
0-20     0.393
20-40    0.382
40-60    0.235
60-80    0.129
80-      0.061
Name: mean, dtype: float64

In [47]:
round(1.96 * FP_AgSx_df['F']["std"] / np.sqrt(5),3)

SexAge
0-20     0.005
20-40    0.006
40-60    0.011
60-80    0.009
80-      0.007
Name: std, dtype: float64

In [48]:
print("mean: ", round(FP_AgSx_df['F']['mean'],3).mean() )

mean:  0.24

In [15]:
factors = ['F', 'M']
age =['0-20', '20-40', '40-60', '60-80','80-']
AgeSex_df = pd.DataFrame(age, columns=["Age"])
Num_df =  pd.read_csv("./results47/Num_AgeSex.csv")


def FiveRun(factors,want_df,df,Num):
    for factor in factors:    
        dfM0 = round(df[factor]['mean'],3)
        dfM2 = round(1.96 * df[factor]["std"] / np.sqrt(5),3)
        want_df[factor] = pd.DataFrame(dfM0.values.tolist(),columns =[factor])
        want_df['CI_'+factor] = pd.DataFrame(dfM2.values.tolist(),columns =['CI_'+factor])
        
        Num['Num_'+factor] = Num[factor]
    
    Num = Num.drop(factors,axis=1)
    want_df = want_df.merge(Num,left_on="Age", right_on="Age")
    
    return want_df

want = FiveRun(factors,AgeSex_df,FP_AgSx_df,Num_df)
want.to_csv('./results/Inter_AgeSex.csv')
want

     Age      F   CI_F      M   CI_M  Unnamed: 0  Num_F  Num_M
0   0-20  0.393  0.005  0.307  0.011           4    198    377
1  20-40  0.382  0.006  0.257  0.008           2   2325   3679
2  40-60  0.235  0.011  0.204  0.009           0   6924   8550
3  60-80  0.129  0.009  0.109  0.008           1   7572  10163
4    80-  0.061  0.007  0.042  0.004           3   2862   2720

## Confidence plot

In [2]:


Run5_sex = pd.read_csv("./results6/Run5_sex.csv")
Run4_sex = pd.read_csv("./results37/Run4_sex.csv")
Run3_sex = pd.read_csv("./results47/Run3_sex.csv")
Run2_sex = pd.read_csv("./results19/Run2_sex.csv")
Run1_sex = pd.read_csv("./results57/Run1_sex.csv")

diseases = ['Atelectasis',  'Cardiomegaly', 'Consolidation',
            'Edema' ,  'Enlarged Cardiomediastinum','Fracture',
            'Lung Lesion','Lung Opacity',  'No Finding', 'Pleural Effusion','Pleural Other',"Pneumonia",
            'Pneumothorax', 'Support Devices' ]
diseases_abbr = {'Lung Opacity': 'AO',
                'Cardiomegaly': 'Cd',
                'Effusion': 'Ef',
                'Enlarged Cardiomediastinum': 'EC',
                'Lung Lesion': 'LL',
                'Atelectasis': 'A',
                'Pneumonia': 'Pa',
                'Pneumothorax': 'Px',
                'Consolidation': 'Co',
                'Edema': 'Ed',
                'Pleural Effusion': 'Ef',
                'Pleural Other': 'PO',
                'Fracture': 'Fr',
                'Support Devices': 'SD',
                'Airspace Opacity': 'AO',
                'No Finding': 'NF'
                }

resultX = Run1_sex.append([Run2_sex, Run3_sex,Run4_sex, Run5_sex])

resX =resultX.groupby("diseases")
resX_df = resX.describe()


dfM0 = resX_df['%M']['mean']
dfM1 = resX_df['Gap_M']["mean"]
dfM2 = 1.96 * resX_df['Gap_M']["std"] / np.sqrt(5)

dfF0 = resX_df['%F']['mean']
dfF1 = resX_df['Gap_F']["mean"]
dfF2 = 1.96 * resX_df['Gap_F']["std"] / np.sqrt(5)

Want = pd.DataFrame(pd.DataFrame(diseases, columns=["diseases"]))
PrcentM_list = []
CIM_list = []
Gap_M_mean_list = []
diseases_abbr_list = []
Distance_list = []
PrcentF_list = []
CIF_list = []
PrcentF_list = []
Gap_F_mean_list = []

In [3]:
dfM0

diseases
Atelectasis         0.576813
Cardiomegaly        0.547474
Consolidation       0.563718
Edema               0.547995
No Finding          0.498426
Pleural Effusion    0.554855
Pneumonia           0.543028
Pneumothorax        0.632753
Name: mean, dtype: float64

## New from NIH

In [4]:
def FiveRunSubgroup(factors, df_in, df_out):
    FPR = []
    FNR = []
    Num_NNF = []
    Num_PNF = []
    CI_FPR =[]
    CI_FNR =[]
    ConfI = 1.96 * df_in.loc['std'] / np.sqrt(5)
    
    for fact in factors:
        Num_NNF.append(round(df_in.loc['mean']['#NNF_'+fact],3))
        Num_PNF.append(round(df_in.loc['mean']['#PNF_'+fact],3))
        FPR.append(round(df_in.loc['mean']['FPR_'+fact],3))
        FNR.append(round(df_in.loc['mean']['FNR_'+fact],3))
        CI_FPR.append(round(ConfI.loc['FPR_'+fact],3))
        CI_FNR.append(round(ConfI.loc['FNR_'+fact],3))     
        
    df_out['#NNF'] = Num_NNF
    df_out['#PNF'] = Num_PNF
    
    df_out['FPR']=FPR 
    df_out['CI_FPR']=CI_FPR  

    df_out['FNR']=FNR 
    df_out['CI_FNR']=CI_FNR

    return df_out

In [5]:
FP5_sex = pd.read_csv("./results19/FPRFNR_NF_sex.csv")
FP4_sex= pd.read_csv("./results37/FPRFNR_NF_sex.csv")
FP3_sex = pd.read_csv("./results47/FPRFNR_NF_sex.csv")
FP2_sex = pd.read_csv("./results57/FPRFNR_NF_sex.csv")
FP1_sex = pd.read_csv("./results6/FPRFNR_NF_sex.csv")
FP_sex = FP1_sex.append([FP2_sex, FP3_sex,FP4_sex, FP5_sex])
F_sex_df = FP_sex.describe()

In [6]:
Sex = ['M','F' ]
FPR_FNR_sex_df = pd.DataFrame(Sex, columns=["sex"])
FPR_FNR_sex_df=FiveRunSubgroup(Sex, F_sex_df, FPR_FNR_sex_df)
FPR_FNR_sex_df

  sex     #NNF    #PNF    FPR  CI_FPR    FNR  CI_FNR
0   M  25495.0  9795.0  0.158   0.007  0.228   0.009
1   F  19881.0  9897.0  0.188   0.009  0.182   0.012

In [ ]:
FP5_age = pd.read_csv("./results19/FPRFNR_NF_age.csv")
FP4_age= pd.read_csv("./results37/FPRFNR_NF_age.csv")
FP3_age = pd.read_csv("./results47/FPRFNR_NF_age.csv")
FP2_age = pd.read_csv("./results57/FPRFNR_NF_age.csv")
FP1_age = pd.read_csv("./results6/FPRFNR_NF_age.csv")
FP_age = FP1_age.append([FP2_age, FP3_age,FP4_age, FP5_age])
F_age_df = FP_age.describe()